@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@300&display=swap');

header {
    text-align: center;
    width: 100%;
    background-image: url(../img/background.jpg);
    padding: 20px;
}
header h1 {
    color: #EB5757;
    font-family: Inconsolata;
}
header .botao {
    background: #D9D9D9;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    font-family: Abel;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 60px;
}


section {
    text-align: center;
}
section .banda {
    width: 800px;
    display: block;
    margin: 40px 0 40px -400px;
    position: relative;
    left: 50%;
}
section .banda > div {
    float: left;
}
section .banda .img {
    width: 400px;
    min-height: 400px;
    background-image: url(../img/banda1.png);
    display: inline-block;
    background-position: center;
    background-size: 500px, 500px;
}
section .banda .info {
    width: 380px;
    background-color: #D9D9D9;
    text-align: center;
    min-height: 400px;
    margin-left: 20px;
}
section .banda .info .nome {
    font-family: Inconsolata;
}
section .banda .info .descricao {
    display: block;
    margin: 10px;
}
section .banda .info button { 
    background-color: #764D85;
    font-family: Abel;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}
section .banda2 {
    width: 800px;
    display: block;
    margin: 40px 0 40px -400px;
    position: relative;
    left: 50%;
}
section .banda2 > div {
    float: left;
}
section .banda2 .img {
    width: 400px;
    min-height: 400px;
    background-image: url(../img/cordillera_002.jpg);
    display: inline-block;
    background-position: center;
    background-size: 600px, 600px;
}
section .banda2 .info {
    width: 380px;
    background-color: #D9D9D9;
    text-align: center;
    min-height: 400px;
    margin-left: 20px;
}
section .banda2 .info .nome {
    font-family: Inconsolata;
}
section .banda2 .info .descricao {
    display: block;
    margin: 10px;
}
section .banda2 .info button { 
    background-color: #764D85;
    font-family: Abel;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}
section .banda3 {
    width: 800px;
    display: block;
    margin: 40px 0 40px -400px;
    position: relative;
    left: 50%;
}
section .banda3 > div {
    float: left;
}
section .banda3 .img {
    width: 400px;
    min-height: 400px;
    background-image: url(../img/3-Foto-Desisto-768x576.jpeg);
    display: inline-block;
    background-position: center;
    background-size: 700px, 700px;
}
section .banda3 .info {
    width: 380px;
    background-color: #D9D9D9;
    text-align: center;
    min-height: 400px;
    margin-left: 20px;
}
section .banda3 .info .nome {
    font-family: Inconsolata;
}
section .banda3 .info .descricao {
    display: block;
    margin: 10px;
}
section .banda3 .info button { 
    background-color: #764D85;
    font-family: Abel;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}

#form-div {
    margin-top:9em;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
 }

#form-div form{
    border-radius: 10px;
   grid-template-columns: 1rf;
   justify-items:start;
    background-color: beige;
    display:grid;
    padding:2rem;
    position:relative;
    row-gap: 2rem;
}

#form-div div form{
    height:10em;
}


output{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
  }
  
  output .image{
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
  }
  
  output .image img{
    height: 100%;
    width: 100%;
  }
  
  output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
  }
  
  output .image span:hover {
    opacity: 0.8;
  }
  
  output .span--hidden{
    visibility: hidden;
  }



